.main {
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  width: 95%;
  height: 70%;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttons {
  width: 70%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button1 {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button2 {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .main {
    width: 70vw;
    height: 40vh;
  }
  .text {
    font-size: 4vh;
  }
  .buttons {
    height: 23%;
    width: 80%;
  }
}
