.container {
  width: 50vw;
}

.button {
  margin-top: 50px;
  width: 50%;
  height: 35px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 50px;
}

@media screen and (max-width: 800px) {
  .container {
    width: 95vw;
  }

  .button {
    width: 60%;
  }
}
