.main {
  animation: 2s ease-out 0s 1 slideInFromRight;
}

@media screen and (max-width: 800px) {
  .main {
    animation: 2s ease-out 0s 1 slideInFromBottom;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(55%);
    opacity: 0;
  }
  65% {
    transform: translateX(0.5%);
    opacity: 0.4;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(55%);
    opacity: 0;
  }
  65% {
    transform: translateY(0.5%);
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
