.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .title {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  color: #3f3b3b;
  margin: 40px auto 50px auto;
  width: 50%;
  padding-bottom: 12px;
  border-bottom: 1px solid #575757;
}

.container .subtitle {
  text-align: left;
  width: 25vw;
  color: #3f3b3b;
  font-weight: 400;
  white-space: nowrap;
}

@media screen and (max-width: 425px) {
  .container .title {
    font-size: 5vw;
    margin: 10vh auto 6vh auto;
  }
  .container .subtitle {
    font-size: 4.5vw;
    width: 85%;
  }
}
