.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
}

.leftCont {
  width: 50%;
  height: 100%;
}

.loginImage {
  height: 100%;
  width: 100%;
}

.signIn {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  align-items: center;
}

.paeLogin {
  color: #3f3b3b;
  display: flex;
  width: 50%;
  padding-bottom: 15px;
  border-bottom: 2px solid #3f3b3b;
  height: auto;
  justify-content: space-around;
}

.paeLogo {
  width: 10%;
  height: 50%;
  margin-top: 15px;
}

.paeText {
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 6px;
  margin-top: 15px;
  padding-left: 3px;
}

.loginFields {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  width: 45%;
}

.component {
  width: 100%;
  height: 60px;
  display: flex;
  margin-top: 35px;
  justify-content: center;
}

.componentB {
  width: 60%;
  height: 25%;
  display: flex;
  margin-top: 35px;
  align-items: center;
}

.emailError {
  color: #ff0a1f;
  font-weight: 600;
  font-size: 1.5vw;
  padding-bottom: 15px;
}

.notUser {
  color: #5b5b5b;
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
}

.forgotPassword {
  color: #5b5b5b;
  font-size: 1vw;
}

.register {
  font-size: 1vw;
  font-weight: 500;
}

.regLink {
  font-weight: 700;
}

.privacy {
  padding-top: 75px;
  color: #5b5b5b;
  font-size: 1vw;
}

@media screen and (max-width: 1500px) {
  .paeText {
    font-size: 2vw;
  }
}

@media screen and (max-width: 800px) {
  .mainContainer {
    flex-direction: column;
    overflow-y: scroll;
  }
  .leftCont {
    width: 100%;
    height: 50vh;
    order: 2;
  }
  .signIn {
    width: 100%;
    order: 1;
  }
  .paeText {
    font-size: 4vw;
  }
  .register {
    font-size: 2vw;
  }

  .forgotPassword {
    font-size: 2vw;
  }
}
