.container {
  color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button:active {
  width: 90%;
  height: 90%;
  font-size: 11px;
}

.button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.button:disabled:active {
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.primary {
  background-color: #039be5;
}

.secondary {
  background-color: #b1acac;
}

.confirm {
  background-color: #2ed477;
}

.cancel {
  background-color: #e00013;
}

.info {
  background-color: #0277bd;
}

.pending {
  background-color: #f49c16;
}

.spinner {
  display: inline-block;
  width: 15px;
  height: 15px;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .container {
    font-size: 3.8vw;
  }

  .button:disabled:active {
    font-size: 3.8vw;
  }

  .spinner {
    width: 10px;
    height: 10px;
  }

  .spinner:after {
    width: 8px;
    height: 8px;
  }
}
