.wrapper {
  width: 80%;
  height: 50vh;
  margin: 25px auto;
}

.table {
  background: white;
  width: 100%;
  height: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table .heading {
  padding: 20px;
  background: #f7fbfe;
  color:#5B6166;
  font-weight: 600;
}

.table tbody tr td {
  padding: 15px;
  border: 1px solid #f1f1f1;
  text-align: center;
}

.table tbody tr td:hover {
  cursor: pointer;
}

.table tbody tr .titleHour {
  background: white;
}

.tableHead {
  border-bottom: 1px solid #f1f1f1;
}

.border {
  /*border: 1px solid #f1f1f1;*/
}
