.wrapper {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  
  .table {
    background: white;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }
  
  .table .heading {
    padding: 15px;
    background: #f7fbfe;
    color: #5b6166;
    font-weight: 600;
  }
  
  .table tbody tr td {
    padding: 2px 20px;
    border: 1px solid #f1f1f1;
    text-align: center;
    font-size: 14px;
  }
  

  
  .table tbody tr .titleHour {
    background: white;
    color: #5b6166;
  }
  
  .tableHead {
    border-bottom: 1px solid #f1f1f1;
  }
  
  .border {
    border: 1px solid #f1f1f1;
  }

  .whitespace {
    color:transparent;
  }
  
  @media screen and (max-width: 768px) {
    .wrapper {
      width: 100%;
    }
  
    .table .heading {
      font-size: 3vw;
      padding: 2vh 1vw 2vh 1vw;
    }
  
    .table tbody tr td {
      font-size: 3vw;
      padding: 1.5vh 1vw 1.5vh 1vw;
    }
  }
  