

.cardTutorsSection {
    display: block;
    width: 90%;
    margin:0 auto;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.cardTutors {
    width: 80%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid #B3B3B3;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    transition:.4s ease;
    position: relative;
    overflow: hidden;
}

.cardTutors:hover {
    transform: translateY(-10px);
}

.studentInfo {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profilePicture {
    width: 50px;
    height: 50px;
}

.firstName {
    margin-top: 20px;
    font-weight: 600;
    font-size: 30px;
}


.lastName {
    margin-top: 5px;
    font-weight: 200;
    font-size: 24px;
}

.degreeSection {
    width: 55%;
    display: flex;
    margin-top: 9px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #575757;
}

.degree {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 600;
    color:#039BE5;
}

.matricula {
    display: flex;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
}

.itemsWrap {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.itemCard {
    width: 70%;
    display: flex;
    margin-top:8px;
    margin-bottom: 8px;

}

.profileIcon {
    font-size: 40px;
    color:#000;
}

.itemIcon {
    font-size: 20px;
}

.itemText {
    margin-left: 30px;
    font-weight: 300;
    font-size: 17px;
    color:#3F3B3B;
}

.button {
    width: 70%;
    height: 39px;
    margin-top: 20px;
    background-color: #2ED477;
    border:none;
    border-radius: 4px;
    font-weight: 600;
    color:white;
}

.button:hover {
    cursor: pointer;
}

@media screen and (max-width: 425px) {
   .cardTutors{
        width: 80%;
   } 

   .firstName {
       font-size: 6vw;
   }
   .lastName {
    font-size: 5vw;
    }
    .lastName {
        font-size: 5vw;
    }
    .degree {
        font-size: 7vw;
    }
    .matricula {
        font-size: 5vw;
    }
    .degreeSection {
        width: 50%;
    }
    .itemText {
        font-size: 4vw;
    }
    .button {
        font-size: 4vw;
    }
}