.dataTable {
  font-size: calc(0.75em + 1vmin);
  border-collapse: separate;
  border-spacing: 0px 5px;
  width: 100%;
}

.dataTable .header {
  background-color: #039be5;
  color: #ffffff;
  text-transform: uppercase;
}

.dataTable .header .row .cell {
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 30%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border: 1px solid white;
}

.dataTable .body .row {
  cursor: pointer;
}

.dataTable .body .rowSelected {
  cursor: pointer;
}

.dataTable .body .row:hover .cell {
  border: 1.5px solid #0278bd77;
  opacity: 0.8;
  transition: background 400ms;
}
.dataTable .body .row:hover .cell2 {
  border-bottom: 1.5px solid #0278bd77;
  border-top: 1.5px solid #0278bd77;
  border-right: 1.5px solid #0278bd77;
  opacity: 0.8;
  transition: background 400ms;
}

.dataTable .body .rowSelected:hover .cell {
  border: 1.5px solid #0277bd;
  opacity: 0.8;
}
.dataTable .body .rowSelected:hover .cell2 {
  border-bottom: 1.5px solid #0277bd;
  border-top: 1.5px solid #0277bd;
  border-right: 1.5px solid #0277bd;
  opacity: 0.8;
}

.dataTable .body .row .cell {
  padding-left: 5%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 0.9em;
  white-space: nowrap;
  border: 1.5px solid #dadada;

  border-top-left-radius: 12px;
  border-right-color: #545454;
  border-right-width: 1.5px;
  border-bottom-left-radius: 12px;
}

.dataTable .body .row .cell2 {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 0.9em;
  white-space: nowrap;
  border-right: 1.5px solid #dadada;
  border-top: 1.5px solid #dadada;
  border-bottom: 1.5px solid #dadada;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
}

.dataTable .body .rowSelected .cell {
  padding-left: 5%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 0.9em;
  white-space: nowrap;
  border: 1.5px solid #0277bd;
  border-top-left-radius: 12px;
  border-left-color: #dadada;
  border-left-width: 1.5px;
  border-bottom-left-radius: 12px;
}

.dataTable .body .rowSelected .cell2 {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 0.9em;
  white-space: nowrap;
  border-right: 1.5px solid #0277bd;
  border-top: 1.5px solid #0277bd;
  border-bottom: 1.5px solid #0277bd;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
}
