.modal {
  width: 40%;
}

.form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .button {
  margin-bottom: 20px;
  width: 60%;
  height: 35px;
}

.form .input {
  width: 70%;
  margin-bottom: 60px;
  height: 45px;
}

.form .input .text {
  font-size: 18px;
  font-weight: 500;
  color: #3f3b3b;
  white-space: nowrap;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
  margin-bottom: 100px;
  font-size: 17px;
}

@media screen and (max-width: 725px) {
  .form {
    margin-top: 3vh;
  }

  .form .input {
    margin-bottom: 7vh;
    width: 80%;
  }

  .form .input .text {
    font-size: 4vw;
  }

  .form .button {
    width: 70%;
  }

  .links {
    width: 60%;
    margin-bottom: 6vh;
    font-size: 3.2vw;
  }

  .modal {
    width: 95%;
  }
}
