.iconWrapper {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text {
    font-size: 50%;
    font-weight: 300;
}

.icon {
    font-size: 55%;
}