.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
}
.bottom {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
}

.title {
  width: 90%;
  height: 100%;
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  border-top: 1px solid #545454;
  border-right: 0px solid;
  border-left: 1px solid #545454;
  border-bottom: 0px;
  color: #636363;
  border-top-left-radius: 5px;
  font-size: 10px;
}

.title:focus {
  outline: none;
  border-top: 2px solid #545454;
  border-left: 2px solid #545454;
  border-bottom: 2px solid #545454;
}

.title:focus + .count1 {
  border-top: 2px solid #545454;
  border-bottom: 2px solid #545454;
  border-right: 2px solid #545454;
}

.content {
  width: 90%;
  height: 100%;
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  border-top: 1px solid #545454;
  border-right: 0px solid;
  border-left: 1px solid #545454;
  border-bottom: 1px solid #545454;
  color: #636363;
  border-bottom-left-radius: 5px;
}

.content:focus {
  outline: none;
  border-top: 2px solid #545454;
  border-left: 2px solid #545454;
  border-bottom: 2px solid #545454;
}

.content:focus + .count2 {
  border-top: 2px solid #545454;
  border-bottom: 2px solid #545454;
  border-right: 2px solid #545454;
}

.count1 {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #545454;
  border-right: 1px solid #545454;
  color: #636363;
  border-top-right-radius: 5px;
  font-size: 12px;
  font-weight: 300;
  padding-top: 6px;
}

.count2 {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #545454;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
  color: #636363;
  border-bottom-right-radius: 5px;
  font-size: 12px;
  font-weight: 300;
  padding-top: 6px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 800px) {
  .count1 {
    font-size: 1.5vw;
  }
  .count2 {
    font-size: 1.5vw;
  }
  .title {
    padding-left: 1vw;
    padding-top: 1vw;
    padding-right: 1vw;
    font-size: 2.5vw;
  }
  .content {
    padding-left: 1vw;
    padding-top: 1vw;
    padding-right: 1vw;
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 500px) {
  .count1 {
    font-size: 2vw;
  }
  .count2 {
    font-size: 2vw;
  }
  .title {
    font-size: 4vw;
  }
  .content {
    font-size: 4vw;
  }
}
