.progressContainer {
  width: 30vh;
  height: 15vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress_bar_container {
  height: 2vh;
  width: 18vh;
  border-radius: 15px;
  margin: 40px;
  /*position: absolute;*/
  position: inherit;
  background-color: #f1f1f1;
  transition: all 0.5s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.progress_bar0 {
  height: 2vh;
  width: 18vh;
  border-radius: 15px;
  background-color: #f1f1f1;
}

.progress_bar1 {
  height: 2vh;
  width: 6vh;
  border-radius: 15px;
  background-color: #2ed477;
}

.progress_bar2 {
  height: 2vh;
  width: 12vh;
  border-radius: 15px;
  background-color: #2ed477;
}

.progress_bar3 {
  height: 2vh;
  width: 18vh;
  border-radius: 15px;
  background-color: #2ed477;
}

.barText {
  width: 100%;
  color: red;
}
