.wrapper {
    width: 50%;
    margin:100px auto;
}

.wrapper .selectedSubjects {
    width: 100%;
    margin:70px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper .selectedSubjects .values {
    margin-top: 20px;
}

.wrapper .values .element {
    padding:7px 20px;
    width: 100%;
    border:1px solid #E0E0E0;
    color:#5E5E5E;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.delete {
    color:red;
    background:white;
    border:none;
}

.delete:hover {
    cursor: pointer;
}

.continueButton {
    width: 310px;
    height: 30px;
    display: flex;
    margin: 0 auto;
}

@media screen and (max-width: 766px){
    .continueButton {
        width: 100%;
        height: 30px;
    }
}

@media screen and (max-width: 646px){
    .title {
        font-size: 4vw;
    }
    .wrapper .values .element {
        font-size: 3vw;
    }
}