.stepsRegisterWrap {
  width: 650px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  background: #f7f7f7;
  border-radius: 8px;
}
.item {
  display: flex;
  cursor: pointer;
}

.itemText {
  margin-left: 5px;
  color: #a9a9a9;
  font-weight: 500;
  font-size: 17px;
}

.dots {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a9a9a9;
}

.icon {
  color: #a9a9a9;
  font-size: 17px;
}

.completed {
  color: #545454;
}

.active {
  color: #039be5;
}
