.container {
  height: 100%;
  margin: 0;
}

.background_color {
  background: linear-gradient(45deg, #88c7e5 #039be5);
  animation: movementBack 5s linear infinite alternate;
  background-size: 400%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
