.container {
  height: 100%;
  margin: 0;
}

.container .background {
  background: #88c7e5;
  animation: movementBack 5s linear infinite alternate;
  background-size: 400%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.form {
  margin-top: 40px;
}

.form .button {
  margin: 0px 20% 20px 20%;
  height: 35px;
}

.form .input {
  margin: 0px 15% 60px 15%;
  height: 50px;
}

.form .input .text {
  font-size: 20px;
  font-weight: 500;
  color: #3f3b3b;
  white-space: nowrap;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
  margin-bottom: 100px;
  font-size: 17px;
}

@media screen and (max-width: 425px) {
  .form {
    margin-top: 3vh;
  }

  .form .input {
    margin: 0px 15% 5vh 15%;
    height: 3vh;
  }

  .form .input .text {
    font-size: 3.5vw;
  }

  .links {
    width: 60%;
    margin-bottom: 6vh;
    font-size: 3.2vw;
  }
}
