.main {
  width: 100%;
  height: 80vh;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f1f1f1;
  margin-bottom: 1vh;
  animation: 2s ease-out 0s 1 slideInFromLeft;
}

.icon {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4vw;
  height: 4vw;
  font-size: 2.5vw;
  border-radius: 50%;
  margin-left: 5vw;
}

.userName {
  font-size: 3vw;
  font-weight: 600;
  margin-left: 4vw;
  width: 60vw;
  height: 100%;
  display: flex;
  align-items: center;
}

.id {
  font-size: 1.2vw;
  padding-bottom: 5vh;
  font-weight: 300;
}

.tutorship {
  width: 90%;
  font-size: 2vw;
  font-weight: 500;
  margin-bottom: 1vh;
  animation: 2s ease-out 0s 1 slideInFromLeft;
}

.cardInfo {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  animation: 2s ease-out 0s 1 slideInFromBottom;
  height: 60%;
}

@media screen and (max-width: 500px) {
  .cardInfo {
    height: auto;
    width: 95%;
  }
  .user {
    height: 15%;
  }
  .icon {
    font-size: 4vh;
    width: 5vh;
    height: 5vh;
    margin-left: 3vw;
  }
  .userName {
    font-size: 1.8vh;
  }
  .id {
    font-size: 1vh;
  }
  .tutorship {
    width: 95%;
    font-size: 2vh;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(55%);
    opacity: 0;
  }
  65% {
    transform: translateY(0.5%);
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  90% {
    transform: translateX(0.5%);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
