.register {
  font-size: calc(0.75em + 1vmin);
}
.register .banner {
  position: relative;
  width: 47vw;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .banner {
    display: none !important;
  }
}

.register .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register .container .header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #bdbdbd;
}

.register .container .header .title {
  padding: 5px 20px;
  border-left: 1px solid black;
  font-size: 1.3em;
  margin-bottom: 10%;
}
/* .logo {
  display: block;

  width: 40%;
} */

.register .container .main {
  display: flex;
  flex-direction: column;
}
