.panel {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 20px;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

.panel .body {
  margin-bottom: 20px;
}

.panel .body .title {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.panel .body .principle {
  margin-left: 25px;
  margin-bottom: 5px;
}

.panel .progress {
  width: 90%;
  margin: 10px auto;
  height: 18px;
}

.panel .textSuccess {
  color: #3c763d;
}

.panel .textDanger {
  color: #a94442;
}

@media screen and (max-width: 800px) {
  .panel {
    width: 100%;
  }
}
