.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  background-color: #88c7e5;
  transition-property: background-color;
}

.overlay {
  pointer-events: auto;
}

.logo {
  margin: 20px 20px;
  height: 35px;
}

.dialog {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  max-height: 90%;
  transform: scale(1);
  position: relative;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dialog .content {
  overflow-y: auto;
  flex-grow: 1;
}

.dialog .header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}

.dialog .body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog .footer {
  flex-shrink: 0;
}

.dialog .header .headerIcons {
  display: flex;
  align-items: center;
  align-self: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
  width: 95%;
  font-size: 2vw;
}

.horizontalLine {
  width: 50%;
  height: 1px;
  background-color: #575757;
  margin-top: 15px;
  margin-bottom: 15px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: #3f3b3b;
}

/* animation */

@media screen and (max-width: 425px) {
  .title {
    font-size: 5vw;
  }

  .horizontalLine {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    width: 70%;
  }
  .dialog .header .headerIcons {
    font-size: 6vw;
  }
}

.showModal {
  opacity: 1;
  z-index: 2;
  animation: show 0.2s;

  transform: scale(1);
}
@keyframes show {
  from {
    transform: scale(0);
    opacity: 0;
    z-index: -1;
  }
  to {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }
}
