.main {
  display: flex;
  flex-direction: row;
}

.sidebar {
  height: 100%;
  width: 10%;
}

.test {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 0%;
  }
}
